.discussion-window{
        position: absolute;
        right: 70px;
        width: 20%;
        top: 157px;
        bottom: 45px;
        background: rgb(99, 147, 224);
        z-index: 3;
        /* overflow: scroll; */
}
.message-container{
    position: absolute;
    width: 100%;
    bottom: 50px;
    top:90px;
    overflow: scroll;
    display:flex;
    flex-direction: column;
}
.income-message,.outcome-message{
    width: fit-content;
    padding: 5px 5px 5px 5px ;
    border-radius: 5px;
}

.receiver-details{
display:grid;
grid-template-columns:2fr 1fr;
width: 100%;
}
.faArrow-left{
    margin-left: 10px;
    font-size: 25px;
    margin-top: 20px;

}
.receiver-details-profile-avatar{
    width: 50px;
    margin-left: 20px;
    border-radius: 50%;
}
.receiver-details-profile-pseudo{
    margin-left: 10px;
}

.receiver-details-icon{
    float: right;
    text-align: right;
    position: absolute;
    right: 20px;
    top:20px;
    font-size: 30px;
}
.receiver-details-profile{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
}
.input-container-textarea{
    width: 20em;
    margin-left:5px;
    height: 3em;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(3,4,56);
    color: white;
    border: none;
    cursor: pointer;
    resize: none;
    max-height: 60px;
}
.input-container-send-incon{
    font-size: 30px;
    position: absolute;
    right: 10px;
    margin-top: 8px;
    cursor: pointer;
}