.controlsTolls{
    display: flex;
    flex-direction: column;
    float: right;
    background: rgb(3,4,56);
    margin-top: 20px;
    margin-right: 13px;
    padding: 0px 10px 20px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  rgb(3,4,56); 
}
.save-button{
    width: 7em;
    margin-left: 10px;
    float: right;
    /* background-color:  hsl(190, 47%, 86%); */
    cursor: pointer;
}
.pause-button{
    width:7em;
    margin-left: 10px;
    float: right;
    /* background-color:  hsl(190, 47%, 86%); */
    cursor: pointer;
}
.end-button{
    width:7em;
    margin-left: 10px;
    float: right;
    background-color: rgb(255, 38, 0);
    cursor: pointer; 
    color: white;
}
.end-button:hover{
    background-color: rgba(255, 0, 0, 0.801);
}

