/* .dicution-incon-container{
    right: 0;
    position: absolute;
    bottom: 50px;
    margin-right: 100px;
    background: rgb(3,4,56);
} */
.discution-icon{
    right: 0;
    position: absolute;
    bottom: 50px;
    margin-right: 100px;
    font-size: 70px;
    color: rgb(3,4,56);
    cursor: pointer;
    /* box-shadow: 1px 1px 20px 10px  rgb(3,4,56); */
}
/* ***************************** MEDIA QUERIES ********************* */
@media(max-width: 414px){
    .discution-icon{
        right: 0;
        position: absolute;
        bottom: 50px;
        margin-right: 10px;
        font-size: 60px;
        color: rgb(3,4,56);
        cursor: pointer;
        /* box-shadow: 1px 1px 20px 10px  rgb(3,4,56); */
    }
}

/* ***************************** MEDIA QUERIES ********************* */
@media(min-width: 1080px){
    .discution-icon{
        right: 80px;
        position: absolute;
        bottom: 100px;
        margin-right: 10px;
        font-size: 60px;
        color: rgb(3,4,56);
        cursor: pointer;
        /* box-shadow: 1px 1px 20px 10px  rgb(3,4,56); */
    }
}