.loginContainer{
display: grid;
grid-template-columns: 1fr 2fr;
justify-content: center;
align-content: center;
align-items: center;
}

.appName{
    font-family: sans-serif;
    margin-top: 5em;
    margin-left:21em;
    width: 300px;
}

.login{
    margin-top: 1em;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    width: 20em;
    text-align: center;
}
.logPageTitle{
    text-align: center;
}
input{
    margin-top: 30px;
    outline: rgb(245, 69, 0);
    outline-color: blue;
    background: transparent;
    border: 1px solid black;
    height: 25px;
    padding-left: 20px;
    border-radius: 10px;
}
input::placeholder{
    background: transparent;
    font-family: sans-serif;
    padding-left: 30px;
}
input:-ms-input-placeholder{
    background: transparent;
    font-family: sans-serif;
}
input::-webkit-input-placeholder{
    background: transparent;
    font-family: sans-serif;
    
}

button{
    margin-top: 30px;
    font-family: sans-serif;
    border: none;
    height: 3em;
    border-radius: 20px;

}
#default-avatar{
    width: 200px;
    border-radius: 50%;
}
.avatart-container{
    text-align: center;
    margin-top: 10em;
}
.signupBtn{
    background: rgb(77, 45, 62);
    color: rgb(251, 251, 219);
}
.signupBtn:hover{
    background: rgb(44, 0, 24);
    color: rgb(251, 251, 219); 
}
.loginBtn{
    background: rgba(11, 7, 65, 0.657);
    color: beige;
}
.loginBtn:disabled{
    background: rgba(11, 7, 65, 0.767);  
}
.loginBtn:hover{
    background: rgb(2, 0, 27);
    color: beige;
}
.loginErr{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10px;
    border: 1px solid red;
    height: 2em;
    padding-top: 8px;
    background: rgba(255, 0, 0, 0.424);
}
.spaniner{
    animation: spine infinite 1s linear;
}
@keyframes spine {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}